<table>
    <tr>
        <th>Clubs</th>
    </tr>

    <a href="{% url 'create-club' %}">Add Club</a>

    {% for club in clubs %}
    <tr>
        <td>
            {{ club.name }}
            {% if club.pk %}
            {% for player in club.players.all %}
                <li>{{ player.first_name }} {{ player.last_name }}</li>
            {% endfor %}
            {% else %}
                <li>Club not saved yet</li>
            {% endif %}
        </td>
    </tr>
    {% empty %}
        <h3>No clubs in list!</h3>
    {% endfor %}
</table>
