
<table>
    <tr>
        <th>Teams</th>
    </tr>

    <a href="{% url 'create-team' %}">Add Team</a>

    {% for team in teams %}
    <tr>
        <td>
            {{ team.name }}
            {% if team.pk %}
                {% for player in team.team_players.all %}
                    <li>{{ player.first_name }} {{ player.last_name }}</li>
                {% endfor %}
            {% else %}
                <li>Team not saved yet</li>
            {% endif %}
        </td>
    </tr>
    {% empty %}
        <h3>No teams in list!</h3>
    {% endfor %}
</table>
